*.iml
.gradle
/local.
/desktop/node_modules
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# IDE files
.idea/

# Keystore files
*.keystore

# Signing properties
signing.properties
/release.keystore
/release
.vscode

# Build output
/desktop/dist

# Database files
/desktop/data