--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch==2.2.2
torchaudio==2.2.2
funasr>=1.1.7
soundfile>=0.12.1
numpy>=1.26.4,<2
faster-whisper==0.10.0
requests[socks]>=2.31.0

